.fdb-touch
  position relative
  z-index 2
  transition all .5s ease-in-out
  margin-top 40px
  img
    position absolute
    height 100%
    top 0
    left 0
    z-index -2
    opacity .3
  &:after
    content ""
    position absolute
    height 100%
    width 100%
    background linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(255,255,255,0.65) 100%)
    top 0
    left 0
    z-index 0
  &:hover
    transform scale(1.05)
  p
    z-index 2
    color #222
  a
    z-index 2
    position relative
  h2
    z-index 2
.footer-large
  ul
    list-style none
.loggedIn
  width 100%
  height auto
  min-height 40px
  background #329ef7
  a
    color white
.ace
  position relative
  z-index 0
  background-attachment fixed
  &:after
    content ""
    position absolute
    width 100%
    height 100%
    top 0
    left 0
    background rgba(0, 0, 0, 0.4)
  > .container
    position relative
    z-index 2
.inner-img
  width 80px
  user-select none
.divider
  width 100%
  height 1.5px
  background rgba(0,0,0,.2)
  margin 20px 0
.acex
  list-style none
  color #87949f
  text-align center
  margin 0
  padding-left 0
.aceli
  position relative
  margin-bottom 10px
  padding-bottom 5px
  border-top 2px solid rgba(135, 148, 159, .1)
  border-bottom 2px solid rgba(135, 148, 159, .1)
  padding 20px
  transition all .5s ease
  user-select none
  &::after
    content ""
    position absolute
    width 50%
    height 3px
    background #87949f
    transform translate(50%)
    left 0%
    bottom 0
    transition all .5s ease
  &::before
    content ""
    position absolute
    width 50%
    height 3px
    background #87949f
    transform translate(50%)
    left 0%
    top 0
    transition all .5s ease
  &:hover
    &::after
      background #006df0
    &::before
      background #006df0
    transform scale(1.05)
.acey
  h3
    text-align center !important
  border-left none !important
  &:nth-child(2)
    border-left 2px solid rgba(0,0,0,.1) !important
    border-right 2px solid rgba(0,0,0,.1) !important
  &:nth-child(3)
    border-left 2px solid rgba(0,0,0,.1)
  &:nth-child(4)
    border-left 2px solid rgba(0,0,0,.1) !important